      <!-- ユーザーの詳細 -->
      <table class='mx-auto table border rounded m-5', style="text-align: center; background-color: white;">
        <tr>
          <th style="width: 150px;">
            <%= image_tag @customer.get_profile_image(100, 100) %>
            <h4>ユーザー名</h4>
            <p><%= @customer.name %></p>
          </th>
        </tr>
      </table>
      
      
      <% if current_customer != @customer %>
      <!-- 自分以外のユーザーの場合に表示するコンテンツ -->

        <h2 style="margin-top: 50px; text-align: center">ユーザーの投稿</h2>
    
        <% @post_images.each do |post_image| %>
        <div class="border rounded p-5 m-5", style="text-align: center; background-color: white;">
          <%= link_to post_image_path(post_image.id) do %>
            <%= image_tag post_image.get_image , style: 'max-width: 300px; max-height:200px;' %>
          <% end %>
          <p style="word-wrap: break-word;">タイトル：<%= post_image.title %></p>
          <p style="word-wrap: break-word;">内容：<%= post_image.body %></p>
        </div>
        <% end %>
        
        <!--ページネーション-->
             <div class="d-flex justify-content-center">
                <%= paginate @post_images %>
             </div>
             
      <% end %>