<!-- ユーザーの詳細 -->
<div>
  <h3><%= @customer.name %></h3>
  <%= image_tag @customer.get_profile_image(100,100) %>
  <% if @customer == current_customer %>
    <p><%= link_to "プロフィール編集", edit_customer_path %></p>
     <%= link_to "退会する", customers_confirm_path %>
  <% end %>
  <tr>
    <th>フォロー</th>
    <th><%= link_to @customer.followings.count, customer_followings_path(@customer) %></th>
  </tr>
  <tr>
    <th>フォロワー</th>
    <th><%= link_to @customer.followers.count, customer_followers_path(@customer) %></th>
  </tr>
</div>

<div class="row">
  <% if current_customer != @customer %>
    <td><%= render "public/relationships/btn", customer: @customer %></td>
  <% end %>
</div>



<!-- ユーザーの投稿一覧 -->

<% @post_images.each do |post_image| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image %>
  <% end %>
  <p>タイトル：<%= post_image.title %></p>
  <p>内容：<%= post_image.body %></p>
</div>
<% end %>