<% post_images.each do |post_image| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image %>
  <% end %>
  <p>タイトル：<%= post_image.title %></p>
  <p>内容：<%= post_image.body %></p>
  <p>コメント数： <%= post_image.post_comments.count %></p>
  <div class=<%= "favorite-" + post_image.id.to_s %> >
  <p><%= render "public/favorites/btn", post_image: post_image %></p>
  </div>
</div>
<% end %>