<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>

      <h2 style="text-align: center; margin-top: 30px;">みんなの投稿</h2>
      <% @post_images.each do |post_image| %>
      <div class="border rounded p-5 m-5", style="background-color: #ffffff;">
        <%= link_to post_image_path(post_image.id) do %>
          <%= image_tag post_image.get_image %>
        <% end %>
        <p style="word-wrap: break-word;">タイトル：<%= post_image.title %></p>
        <p style="word-wrap: break-word;">内容：<%= post_image.body %></p>
        <p>コメント数： <%= post_image.post_comments.count %></p>
        <div class=<%= "favorite-" + post_image.id.to_s %> >
        <p><%= render "public/favorites/btn", post_image: post_image %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>




      <div class="d-flex justify-content-center">
        <%= paginate @post_images %>
      </div>