<h2 class="mt-5", style="text-align: center">コメント</h2>
<table>
  <thead>
    <% post_image.post_comments.each do |post_comment| %>
    <tr>
      <th style="width: 150px;">
        <%= link_to customer_path(post_comment.customer) do %>
          <%= image_tag post_comment.customer.get_profile_image(100,100) %><br>
          <%= post_comment.customer.name %>
        <% end %>

      </th>
      <th class="border border-dark", style="background-color: white; width: 350px;">
        <div style="max-height: 100px; overflow-y: auto;"> <!-- コメント枠の高さを制御 -->
          <%= post_comment.comment %>
        </div>
      </th>
      
      <th>
        
        <% if post_comment.customer == current_customer %>
          <%= link_to "コメントを削除", post_image_post_comment_path(post_image, post_comment), method: :delete, class: "btn btn-sm btn-danger float-end" %>
        <% end %>
        
        <% if admin_signed_in? %>
          <%= link_to "コメントを削除", post_image_post_comment_path(post_image, post_comment), method: :delete, class: "btn btn-sm btn-danger float-end" %>
        <% end %>
        
      </th>

    </tr>
    <% end %>
    </thead>

</table>