<!DOCTYPE html>
<html>
  <head>
    <title>TravelShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/82d7b2075d.js" crossorigin="anonymous"></script>
  </head>

  <body style="background-color: #f0f0f0;">
      <header class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <span class="logo_text ml-3">
            <i class="fa-regular fa-image"> Travel Share</i>
          </span>
        </a>
          <ul class="navbar-nav ml-auto">

        <!--アドミンのヘッダー-->
        <% if admin_signed_in? %>
         <div class="row">

          <li>
            <%= link_to admin_post_images_path, class: "btn" do %>
            <i class="fa-brands fa-stack-overflow fa-solid"> 投稿一覧</i>
            <% end %>
          </li>
          <li>
            <%= link_to admin_customers_path, class: "btn" do %>
            <i class="fa-solid fa-users"> ユーザー管理</i>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: "btn"  do %>
              <i class="fas fa-sign-out-alt mr-2"> ログアウト</i>
            <% end %>
          </li>
          </div>
          
          <div>
           <%= render 'admin/searches/form' %>
          </div>

          
        <!--ユーザーのヘッダー-->
        <% elsif customer_signed_in? %>

        <!--ゲストユーザーのヘッダー-->
          <% if current_customer.guest_customer? %>
          <div class="row">


          <li class="nav-item">
            <%= link_to post_images_path, class: "btn" do  %>
            <i class="fa-brands fa-stack-overflow fa-solid"> 投稿一覧</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to customer_path(current_customer.id), class: "btn" do  %>
            <i class="fa-solid fa-user"> マイページ</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_customer_session_path, method: :delete, class: "btn" do %>
            <i class="fa-solid fa-right-from-bracket"> ログアウト</i>
            <% end %>
          </li>
          </div>

          <div>
           <%= render 'public/searches/form' %>
          </div>


          </div>

          <% else %>
          <!--通常のユーザーのヘッダー-->
          <div class="row">
          <li>
            <%= link_to new_post_image_path, class: "btn" do %>
            <i class="fa-solid fa-plus"> 新規投稿</i>
            <% end %>
          </li>

          <li>
            <%= link_to post_images_path, class: "btn" do %>
            <i class="fa-brands fa-stack-overflow fa-solid"> 投稿一覧</i>
            <% end %>
          </li>

          <li>
            <%= link_to liked_posts_customer_path(current_customer), class: "btn" do %>
            <i class="fa-solid fa-heart"> いいね一覧</i>
            <% end %>
          </li>

          <li>
            <%= link_to customer_path(current_customer.id), class: "btn" do %>
            <i class="fa-solid fa-user"> マイページ</i>
            <% end %>
          </li>

          <li>
            <%= link_to destroy_customer_session_path, method: :delete, class: "btn" do %>
            <i class="fa-solid fa-right-from-bracket"> ログアウト</i>
            <% end %>
          </li>
          </div>

          <div style="margin: 0 0 0 200px;">
          <%= render 'public/searches/form' %>
          </div>

          <% end %>


        <% else %>
        <!--非ログイン時-->
        <div class="row">
          <li class="nav-item">
            <%= link_to new_customer_registration_path, class: "btn" do %>
            <i class="fa-solid fa-user-plus"> 新規登録</i>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to new_customer_session_path, class: "btn" do %>
            <i class="fa-solid fa-right-to-bracket"> ログイン</i>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to customers_guest_sign_in_path, method: :post, class: "btn" do %>
            <i class="fa-solid fa-user"> ゲストログイン</i>
            <% end %>
          </li>

        </div>
        <% end %>

         </ul>

  </header>
  
            <!--バリデーションのメッセージ-->
            <div class="container">
      		   <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
              <% flash.each do |key, value| %>
                <p class="alert alert-<%= key %>">
                  <%= sanitize value, tags: %w(br) %>
                </p>
              <% end %>
             </div>
          </div>
      
    <%= yield %>
  </body>
</html>
