<!DOCTYPE html>
<html>
  <head>
    <title>TravelShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/82d7b2075d.js" crossorigin="anonymous"></script>
  </head>

  <body>
      <header class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <span class="logo_text ml-3">Travel Share</span>
        </a>
          <ul class="navbar-nav ml-auto">

        <!--アドミンのヘッダー-->
        <% if admin_signed_in? %>
         <div class="row">

          <li>
            <%= link_to '投稿一覧', admin_post_images_path, class: "btn"  %>
          </li>
          <li>
            <%= link_to 'ユーザー管理', admin_customers_path, class: "btn"  %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: "btn"  do %>
              <i class="fas fa-sign-out-alt mr-2">ログアウト</i>
            <% end %>
          </li>

          </div>
        <!--ユーザーのヘッダー-->
        <% elsif customer_signed_in? %>

        <!--ゲストユーザーのヘッダー-->
          <% if current_customer.guest_customer? %>
          <div class="row">


          <li class="nav-item mr-2">
            <%= link_to '投稿一覧', post_images_path, class: "btn"  %>
          </li>
          <li class="nav-item mr-2">
            <%= link_to 'マイページ', customer_path(current_customer.id), class: "btn"  %>
          </li>
          <li class="nav-item mr-2">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn"  %>
          </li>



           <%= render 'public/searchs/form' %>



          </div>

          <% else %>
          <!--通常のユーザーのヘッダー-->
          <div class="row mt-3">
          <li>
            <%= link_to '投稿フォーム', new_post_image_path, class: "btn"  %>
          </li>
          <li>
            <%= link_to '投稿一覧', post_images_path, class: "btn"  %>
          </li>
          <li>
            <%= link_to "いいね一覧", liked_posts_customer_path(current_customer), class: "btn"  %>
          </li>
          <li>
            <%= link_to 'マイページ', customer_path(current_customer.id), class: "btn"  %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn"  %>
          </li>
          </div>
          
          <div style="margin: 0 0 0 auto;">
          <%= render 'public/searchs/form' %>
          </div>
          <!--</div>-->
          <% end %>


        <% else %>
        <!--非ログイン時-->
        <div class="row">
          <li class="nav-item mr-2">
            <%= link_to "新規登録", new_customer_registration_path, class: "btn" %>
          </li>
          <li class="nav-item mr-2">
            <%= link_to "ログイン", new_customer_session_path, class: "btn" %>
          </li>
          <li class="nav-item mr-2">
            <%= link_to "ゲストログイン", customers_guest_sign_in_path, method: :post, class: "btn" %>
          </li>
        </div>
        <% end %>

         </ul>

  </header>
    <%= yield %>
  </body>
</html>
