<!DOCTYPE html>
<html>
  <head>
    <title>TravelShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/82d7b2075d.js" crossorigin="anonymous"></script>
  </head>

  <body class="d-flex flex-column vh-100" style="background-color: #f0f0f0;">
    
    <%= render 'layouts/header' %>
            
            <div class="container">
      		   <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
              <% flash.each do |key, value| %>
                <p class="alert alert-<%= key %>">
                  <%= sanitize value, tags: %w(br) %>
                </p>
              <% end %>
             </div>
          </div>
      
    <%= yield %>
    
    <%= render 'layouts/footer' %>
    
  </body>
</html>
