<!DOCTYPE html>
<html>
  <head>
    <title>TravelShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/82d7b2075d.js" crossorigin="anonymous"></script>
  </head>

  <body>
      <header>
        
        
        
    <!--アドミンのヘッダー-->
    <% if admin_signed_in? %>
      <li>
        <%= link_to '投稿一覧', admin_post_images_path %>
      </li>
      <li>
        <%= link_to 'ユーザー一覧', admin_customers_path %>
      </li>
            
      <li class="nav-item">
        <%= link_to destroy_admin_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt mr-2">ログアウト</i>
        <% end %>
      </li>
      
    <!--ユーザーのヘッダー-->
    <% elsif customer_signed_in? %>
    
      <li>
        <%= link_to '投稿フォーム', new_post_image_path %>
      </li>
      <li>
        <%= link_to '投稿一覧', post_images_path %>
      </li>
      <li>
        <%= link_to "いいね一覧", liked_posts_customer_path(current_customer) %>
      </li>
      <li>
        <%= link_to 'マイページ', customer_path(current_customer.id) %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>
      
    <% else %>
    <!--非ログイン時-->
      <li>
        <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path %>
      </li>
      <li>
        <%= link_to "ゲストログイン", customers_guest_sign_in_path, method: :post %>
      </li>
    <% end %>
    
  </header>
    <%= yield %>
  </body>
</html>
